@import "../../styles/global.scss";

.button {
  padding: 15px 30px;
  border-radius: 5px;
  @include inter(18px, $clr-white, 500, 100%);
  transition: all 0.5s ease;

  &:hover {
    background-color: $clr-hover-blue;
  }

  @media (max-width: 576px) {
    padding: 12px 24px;
    font-size: 16px;
  }
}

.primary-btn {
  background-color: $clr-primary;
}

.secondary-btn {
  background-color: $clr-light-blue;
}
